.question-ask-partial.questions-controller
  .question-title
    = question.title
  .question-description
    = question.description
  .field
    %table
      %th
        - 1.upto(5) do |i|
          %td= i
      %tr
        - 1.upto(5) do |i|
          %td= radio_button_tag "question_responses[#{question.id}]", i, false, :index => question.id
      