#edit-template.projects-controller
  = render_breadcrumbs

  #project-details
    .section-title 
      Project Details
    = render 'form'
    
  #radials
    .section-title
      Radials
    = render :partial => 'radials/radial_description', :collection => @radials, :as => :radial
    = link_to 'Add Radial', new_radial_path(:project_id => @project.id)
  
  #questions
    .section-title
      Questions
    = render @questions
    = link_to 'Add Question', new_question_path(:project_id => @project.id)
