#show-template.projects-controller
  #project-header
    #name
      = @project.name
    #description
      = @project.description

  - if @radials.any?
    #radials
      #learn-more
        = link_to 'Learn More', radials_project_path(@project)
      #data
        = render :partial => 'radials/radial_score', :collection => @radials, :as => :radial
      #graph
        #radar-chart
        :javascript
          var chart = new RadarChart({labels: #{@radial_score_map.map(&:first).inspect}});
          chart.draw(#{@radial_score_map.map(&:last).inspect});
    
 
  - if @questions.any? 
    #questions
      = form_tag(answer_questions_project_path(@project)) do
        = render :partial => 'questions/ask', :collection => @questions, :as => :question
        = submit_tag 'Done!'

  #suggestions
    = render :partial => 'suggestions/new'
    = render @suggestions
