%h1 Listing question_responses

%table
  %tr
    %th Question
    %th User
    %th Response
    %th
    %th
    %th

  - @question_responses.each do |question_response|
    %tr
      %td= link_to question_response.question.title, question_response.question
      %td= question_response.response
      %td= link_to 'Show', question_response
      %td= link_to 'Edit', edit_question_response_path(question_response)
      %td= link_to 'Destroy', question_response, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Question response', new_question_response_path
