%p#notice= notice

%p
  %b Title:
  = @suggestion.title
%p
  %b Description:
  = @suggestion.description
%p
  %b Project:
  = link_to @suggestion.project.name, @suggestion.project

= link_to 'Edit', edit_suggestion_path(@suggestion)
\|
= link_to 'Back', suggestions_path
