%p#notice= notice

%p
  %b Title:
  = @suggestion.title
%p
  %b Description:
  = @suggestion.description
%p
  %b Project:
  = @suggestion.project_id
%p
  %b User:
  = @suggestion.user_id

= link_to 'Edit', edit_suggestion_path(@suggestion)
\|
= link_to 'Back', suggestions_path
