<!DOCTYPE html>
%html
  %head
    %title Esteem
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    = render :partial => 'layouts/header'
  
    %p.notice= notice
    %p.alert= alert

    = yield
