<!DOCTYPE html>
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "Esteem"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #page-container     
      = render :partial => 'layouts/header'

      #page-content
        %p.notice= notice
        %p.alert= alert
        = yield
